body {
    margin: 0;
}

header {
    padding: 16px;
    background-color: indianred;
    color: #cd5c5c;
    text-align: center;
    grid-area: header;
}

#menu {
    padding: 32px;
    background-color: darksalmon;
    grid-area: menu;
}

nav{
    margin-top: 20px;
    display: flex;
    align-items: center;
    flex-flow: column;
}

#main-content {
    padding: 32px;
    grid-area: main;
}

footer {
    padding: 16px;
    background-color: indianred;
    color:#cd5c5c;
    font-weight: bold;
    text-align: center;
    grid-area: footer;
}

#grid-container {
    display: grid;
    grid-template-areas:
     "header header"
     "menu main"
     "footer footer"
     ;
     grid-template-columns: 2fr 8fr;
}
